.section-fusionnerPDF {
  display: flex;
  flex-direction: column;
  justify-content: top;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.titre-fusionnerPDF {
  font-weight: 600;
  font-size: 42px;
  line-height: 52px;
  color: black;
  text-align: center;
  margin-bottom: 20px;
}
.texte-fusionnerPDF {
  max-width: 800px;
  margin: -15px auto 0;
  line-height: 32px;
  font-size: 22px;
  font-weight: 400;
  color: #47474f;
}
.bouton-fusionnerPDF {
  min-height: 80px;
  box-sizing: border-box;
  padding: 24px 24px;
  font-weight: 500;
  font-size: 24px;
  background: #007bff;
  line-height: 28px;
  vertical-align: middle;
  color: #fff !important;
  text-decoration: none;
  border-radius: 12px;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.14);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.14);
  max-width: 25vw;
  border: 0;
  cursor: pointer;
  margin-top: 50px;
  margin-bottom: 50px;
}
.texte-2-fusionnerPDF {
  max-width: 800px;
  margin: 0px auto 0;
  line-height: 32px;
  font-size: 22px;
  font-weight: 400;
  color: #47474f;
}

.container-fusionnerPDF-pdf-viewer {
  width: 90%;
  max-height: 100%;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.texte-fusionnerPDF-pdf-viewer {
  font-size: 15px;
  max-width: 230px;
  margin-top: 7px;
}

.drag-handle {
  cursor: grab;
  padding: 0px;
  border-radius: 50%;
  background-color: #007bff;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: absolute;
  margin-top: -15px;
  z-index: 1;
}
.drag-handle:active {
  cursor: grabbing;
}
.icon-fusionner-grab{
  color: white;
  font-size: 20px;
}

.icon-fusionner-croix{
  width: 30px;
  height: 30px;
  background-color: #007bff;
  color: white;
  font-size: 15px;
  border-radius: 50%;
  position: absolute;
  right: 1px;
  top: -15px;
  cursor: pointer;
}