.section-home{
   padding: 20px;
  background-image: url('../Assets/background.svg');
}
.container-titre-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    margin-bottom: 20px;
    width: 100%;  
    margin-left: auto;  
    margin-right: auto; 
  }
  
.titre-home{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    width: 50%;
    align-items: center;
    text-align: center;
}
.sous-titre-home{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    width: 60%;
    align-items: center;
    text-align: center;
}

.container-all-outils-home {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
    text-align: center;
    cursor: pointer;
  }
  
  .container-outil {
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  .container-outil:hover{
    transform: scale(1.02);
  }
  
  
  .titre-outil {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .texte-outil {
    font-size: 14px;
    color:black;
  }
  