.section-home{
   padding: 0px 60px 0px 60px;
  background-image: url('../Assets/background.svg');
  margin-bottom: 20px;
}
.container-titre-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    width: 100%;  
    margin-left: auto;  
    margin-right: auto; 
    margin-bottom: 30px;
  }
  
.titre-home{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    width: 50%;
    align-items: center;
    text-align: center;
}
.sous-titre-home{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    width: 60%;
    align-items: center;
    text-align: center;
}

.container-all-outils-home {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15%, 1fr));
    gap: 9px;
    text-align: center;
    cursor: pointer;
  }
  
  
 