.container-ToolIcons {
    text-align: center;
    border-radius: 5px;
    padding: 32px;
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    height: 170px;
    display: flex;
    justify-content: top;
    flex-direction: column;
    text-align: start;
    border: 2px solid #f5f5fa;

  }
  .container-ToolIcons:hover{
    transform: scale(1.02);
  }
 
  .titre-ToolIcons {
    font-weight: bold;
    margin-bottom: 5px;
  }
  .texte-ToolIcons {
    font-size: 14px;
    color:black;
  }
  